.toTop {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 1000;
    background-color: rgb(222, 218, 218);
    width: 68px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 13px;
    margin: 0;
    padding: 0;
}
.toTop button {
    border: none;
    background-color: transparent;
    padding: 0;
}
